body{
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}
#title{
  text-align:center;
  color:#ffa500;
  font-family:Oldtown, fantasy;
}
h4{
  text-align:center;
  color:#ffa500;
  font-family:Lucidatypewriter, monospace;
}
#defaultcat{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 20%;
  border: 5px solid red;
}
#wakeUpTimeSelector, #lunchTimeSelector, #napTimeSelector {
  text-align:center;
  padding:10px 20;
}
#labelposi{
  text-align:center;
  color : #FFE633;
  font-size : 20;
}
#partyTimeButton {
  background-color: #0683F9;
  width: 200px;
  font-family: 'Bungee', cursive;
  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  margin-top: 20px;
}